body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Announcement Bar */
.announcement-black-top-bar {
    background-color: #1a1718;
    height: 20px;
}

/* Top bar */
.top-bar {
    background-color: #FAFAFA;
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid #ccc;
    height: 40px;
    max-height: 40px;
    align-items: center;
    padding-right: 200px;
    gap: 10px;
}

.top-bar a {
    color: #1a1718;
    text-decoration: none;
    font-size: 13px;
}

.top-bar a:hover {
    text-decoration: underline;
}

.text-separator {
    margin: 0 10px;
    color: #DEDEDE;
}

/* Top bar and body divider */
.divider-line {
    border-bottom: 1px solid #e5e5e5;
    width: 100%;
}

/* Navigation Bar Container */
.container {
    max-width: 1450px;
    margin: 0 auto;
    width: 100%;
    padding: 0 20px;
}

/* Nabigation bar */
.navigation-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: white;
    padding: 0 20px;
    gap: 30px;
}

.nav-center {
    display: flex;
    gap: 35px;
}

.nav-center a {
    color: #1a1718;
    text-decoration: none;
    font-size: 15px;
}

.nav-center a:hover {
    text-decoration: underline;
}

/* Anta Logo */
.anta-logo {
    display: flex;
    align-items: center;
}

/* Search and Stuff height and weight */
.w-\[18px\] {
    width: 18px;
}

.h-\[18px\] {
    height: 18px;
}

.nav-bar-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* Arrow Size */
.w-2 {
    width: .5rem;
}

.h-2 {
    height: .5rem;
}

/* first pic */
.first-pic{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* H2 Newest in the game and View More side by side */
.text-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1055px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Newest in the Game Font Size */
@font-face {
    font-family: SharpGroteskBold15;
    src: url(FONT/Sharp-Grotesk-Bold-15-Regular.ttf);
}

/* Newest in the Game TXT */
.h2-newest-in-the-game{
    font-family: SharpGroteskBold15;
    text-transform: uppercase;
    font-size: 21px;
    font-weight: 400;
    margin-left: -20px;
    margin-top: 7px;
}

.view-more{
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: black;
    border-bottom: 2px solid black;
    padding-bottom: 2px;
    display: inline-block;
    margin-right: -20px;
}

.view-more a {
    color: #1a1718;
    text-decoration: none;
    font-size: 13px;
}

/* shoes slider */
.shoes-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 35px;
}

/* slider btn box*/
.arrow-container {
    display: inline-block;
    width: 35px;
    height: 35px;
    border: 1px solid #DEDEDE;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15x;
}

/* new word container*/
.new-word-container {
    position: absolute;
    margin-top: 25px;
    display: relative;
    text-align: center;
    width: 35px;
    height: 15px;
    display: flex;
    justify-content: center;
}

/* new word font */
.new-word-container-txt{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 11px;
    line-height: 16px;
    font-style: normal;
}

/* shoes desc container */
.shoes-desc-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/* shoes desc */
.shoes-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 210px;
    height: 50px;
    font-style: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

/* shoes desc V2 */
.shoes-desc-V2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    font-style: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

/* shoes desc container */
.shoes-price-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/* shoes price */
.shoes-price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 210px;
    height: 50px;
    font-style: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    margin-top: -15px;
}

/* video size */
.video-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
}

.video-container video {
    height: 471.71px;
    width: 1100px;
    object-fit: cover;
}

/* Performance at Every Step */
.h2-Performance-at-Every-Step{
    font-family: SharpGroteskBold15;
    text-transform: uppercase;
    font-size: 21px;
    font-weight: 400;
    margin-left: -20px;
    margin-top: 80px;
}

/* Baskretball Players Picture */
.basketball-players-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 35px;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
}

/* Basketball Players Name Container */
.basketball-players-name-container {
    position: absolute;
    margin-top: 275px;
    margin-left: 155px;
    display: relative;
    text-align: center;
    display: flex;
    justify-content: center;
}

/* Basketball Players Name Container */
.basketball-players-name-container-V2 {
    position: absolute;
    margin-top: 275px;
    margin-left: 120px;
    display: relative;
    text-align: center;
    display: flex;
    justify-content: center;
}

/* Basketball Players Name Container */
.basketball-players-name-container-V3 {
    position: absolute;
    margin-top: 275px;
    margin-left: 140px;
    display: relative;
    text-align: center;
    display: flex;
    justify-content: center;
}

/* Basketball Players Name Font*/
.basketball-players-container-txt{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    font-style: normal;
    padding: 4px 18px;
    background-color: white;
    border: 1px solid #DEDEDE;
}

/* Basketball Best Sellers TXT */
.h2-Basketball-Best-Sellers{
    font-family: SharpGroteskBold15;
    text-transform: uppercase;
    font-size: 21px;
    line-height: 24px;
    font-style: normal;
    font-weight: 400;
    margin-left: -20px;
}

.discount-price {
    text-decoration: line-through;
    color: lightgray;
}

.image-wrapper {
    position: relative;
    display: inline-block;
}

/* Discount Badge */
.discount-word-container {
    position: absolute;
    top: 25px;
    left: 25%;
    transform: translateX(-50%);
    background-color: #D7000F;
    padding: 2px 10px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.discount-word-container-txt {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
    color: white;
}

/* Shop by Sports name Conrainer */
.shop-container {
    position: absolute;
    margin-top: 275px;
    margin-left: 120px;
    display: relative;
    text-align: center;
    display: flex;
    justify-content: center;
}

/* Shop by Sports name Conrainer  */
.shop-container-v2 {
    position: absolute;
    margin-top: 275px;
    margin-left: 100px;
    display: relative;
    text-align: center;
    display: flex;
    justify-content: center;
}

/* Shop by Gender Picture */
.gender-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 35px;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
}

/* Shop by Gender name Conrainer */
.gender-container-txt {
    position: absolute;
    margin-top: 290px;
    margin-left: 250px;
    display: relative;
    text-align: center;
    display: flex;
    justify-content: center;
}

/* Shop by Gender name Conrainer */
.gender-container-txt-v2 {
    position: absolute;
    margin-top: 290px;
    margin-left: 210px;
    display: relative;
    text-align: center;
    display: flex;
    justify-content: center;
}

/* footer */
.anta-store-footer{
    background-color: #DEDEDE;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 405px;
    gap: 30px;
}

.anta-word-container{
    max-width: 450px;
    margin-top: 50px;
}

.anta-word-container-p{
    max-width: 520px;
    margin-top: -25px;
}

.anta-font{
    font-family: SharpGroteskBold15;
    text-transform: uppercase;
    font-size: 48px;
    line-height: 48px;
    font-style: normal;
    font-weight: 400;
}

.anta-font-p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-style: normal;
    font-weight: 400;
}

.anta-btn{
    background-color: black;
    border: none;
    color: white;
    padding: 12px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    margin-top: 10px;
    margin-bottom: 40px;
}

/* Be Part of AntaGang */
.be-part-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    flex-wrap: wrap;
}


.be-part-container-font{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    font-size: 32px;
    line-height: 32px;
    font-style: normal;
    font-weight: 700;
    margin-top: -5px;
}

.be-part-container-font-p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-style: normal;
    font-weight: 400;
    margin-top: -20px;
}

/* TextField Subscribe */
.subscribe-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    max-width: 600px;
    margin: 0 auto 10px auto;
}


.email-input {
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
    flex-grow: 1;
}

.subscribe-button {
    background-color: #FFFFFFFF;
    color: #333;
    border: 1px solid #ccc;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
}

.subscribe-button:hover {
    background-color: #e0e0e0;
}

.agreement-text {
    font-size: 12px;
    color: black;
    text-align: center;
    margin: 0 auto;
    max-width: 600px;
    margin-top: 15px;
    margin-bottom: 30px;
}

.agreement-text a {
    color: black;
    text-decoration: none;
    align-items: center;
    text-decoration: underline;
}

.agreement-text a:hover {
    text-decoration: underline;
    align-items: center;
}

/* Social Media Section */
.social-media-container {
    display: flex;
    justify-content: center;
    gap: 400px;
    background-color: #1A1618;
    padding: 50px 0;
}

.social-media-column {
    display: flex;
    flex-direction: column;
}

.social-media-font-h3 {
    font-family: sharpGroteskBold15;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    color: white;
    line-height: normal;
    font-style: normal;
    margin: 0 0 30px 0;
}

.social-media-font-ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.social-media-font-li {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: #959393;
    margin-bottom: 10px;
}

.social-media-icons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 15px;
}

.social-media-container-last {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #AAA9A9;
}

.w-\[20px\] {
    width: 20px;
}
.h-\[20px\] {
    height: 20px;
}

.social-media-font-ARR {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: #959393;
    list-style: none;
    margin-top: 15px;
}